<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <p>Video title: {{video.title}}</p>
  <p>Views: {{video.views}}</p>
  <p>Liked: {{video.liked}}</p>

  <button (click)="handleClick">Click me!</button>

  <p>Video name: {{video.name}}</p>
  <input [{ngModel}] = "video.name"/>

  <app-suggestions></app-suggestions>
</div>

<!-- <ul>
  <li *ngFor="let video of videos">
    Name: {{video.name}}
    Liked: {{video.liked}}
  </li>
</ul>
<p *ngIf="isShown">This should be hidden or shown</p> -->
